<html>
  <head>
    <title>Login Page</title>
 <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <center>
   <br><div id="box"> 
     <h2 id="txt">Log-In</h2>
     <input  placeholder="Username" id="username" class="un"><br><br>
     <input  placeholder="Password" id="password"
     class="pd"><br><br>
    <button onclick="loggedin()" id="button" class="li">Login
    </button>
    </div>
  </center>
  <script src="script.js"></script>
  </body>
</html> 